#welcome {
    text-align: center;
    max-width: 500px;
}

#welcome h2,
#welcome h3 {
    margin-bottom: 1rem;
}

#welcome h3 {
    color: #ad6b1f;
}

#welcome img{
    width: 70%;    
}

#logo {
    display: block;
    align-items: center;
    justify-content: center;
}